{% extends "base.html" %}

{% block content %}
<h1 class="works-log">Works Log</h1>
{% for job in jobs_list %}
<div class="action">
    <h2>Action # 1</h2>
    <table class="table">
        <thead class="table-secondary">
            <tr>
                <th>Title of activity</th>
                <th>Team leader</th>
                <th>Duration</th>
                <th>List of collaborators</th>
                <th>is finished</th>
            </tr>
        </thead>
        <tbody class="table-primary">
            <tr>
                <th style="width: 40%;">{{ job['title-of-activity'] }}</th>
                <th>{{ job['team-leader'] }}</th>
                <th>{{ job['duration'] }}</th>
                <th>{{ job['collaborators'] }}</th>
                <th class="table-danger">{{ job['is-finished'] }}</th>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}